<% provide(:title, 'Welcome') %>
<nav class="navbar-default navbar-inverse navbar-fixed-top" id="navtest">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <%= link_to "RentGG", root_path, id: "logo" %>
    
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% unless logged_in? %>
        <li><%= link_to "Add Listing", signup_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "Add Listing", new_listing_path%></li>
          <li><a href="/my_listings">My Listings</a></li>
          <li><a href="/my_orders">My Orders</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>            
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>        
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Page Content -->
    <div class='image'>
        <div class='test'>
            <h1>Don't Buy it!  Rent it!</h1>
            <h1><a href="#content">Check out the latest listings!</a></h1>
        </div>
    
    </div>

    <div id='content'>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h1>Latest Listings</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
           <div class="row text-center">

            <% @listings.each do |listing| %>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <%= image_tag listing.image.url %>
                        <div class="caption">
                            <h3><%= listing.title %></h3>
                            <p><%= listing.description %></p>
                            <p>
                                <a href=<%= listing_path(listing) %> class="btn btn-default">View Listing</a>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
    </div>
